[Desktop Entry]
Version=2.2
Terminal=false
Icon=ldmicro
Type=Application
Categories=Education;Development;Electronics;
Exec=LDMicro
MimeType=application/x-ldmicro-ld;
Name=LDMicro
GenericName=PLC Ladder CAD
Comment=Ladder Logic editor, simulator and compiler for 8 bit microcontrollers
X-Desktop-File-Install-Version=2.2